form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    background-color: #fcacac;
    max-height: 80vh;
    overflow-y: auto;

    h2 {
        text-align: center;
        font-weight: bold;
    }
}

input,
select {
    border: 1px solid #5b2828;
    border-radius: 6px;
    background-color: #fcacac;
    color: #5b2828;
    font-size: 1rem;
}

.inputData {
    padding: 8px;
}

.inputCachorroContainer {
    padding: 8px;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    width: 100%;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    background-color: #b65151;
    color: white;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #cd8f8f;
    }
}



.ficha-cachorro {
    background-color: #fff0f0;
    border: 1px solid #b65151;
    border-radius: 8px;
    padding: 12px;
    color: #5b2828;

    h4 {
        margin-bottom: 8px;
        font-size: 1.1rem;
        color: #b65151;
        margin-top: 0;
    }

    p {
        margin: 4px 0;
        font-size: 0.95rem;
    }
}