header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0 18px;
  background-color: #fcacac;

  h1 {
    font-size: 1.6rem;
    font-weight: bold;
    color: #5b2828;
  }

  nav {
    display: flex;
    gap: 10px;
  }

  button {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    background-color: #b65151;
    color: white;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #cd8f8f;
    }
  }
}

main {
  display: flex;
  flex-direction: row;
  gap: 18px;
  margin-top: 24px;
  width: 100%;
}

.content {
  border: 1px solid black;
  border-radius: 20px;
  padding: 18px;
}
.main-container {
  display: flex;
  height: 100%;
}

.pane {
  border: 1px solid black;
  border-radius: 20px;
  padding: 18px;
}

.left-pane {
  width: 50%;
}

.right-pane {
  width: 50%;
}

.resizer {
  width: 2px;
  cursor: col-resize;
  background-color: #5b2828;
}
