<header>
  <h1>Pet's Fran</h1>
  <nav>
    <button (click)="abrirFormHorario()">Cadastrar Horário</button>
    <button (click)="abrirFormCachorro()">Cadastrar Cachorro</button>
    <button (click)="alternarHorariosConcluidos()">
      {{ mostrarConcluidos ? "Ver Ativos" : "Últimos 30 dias" }}
    </button>
  </nav>
</header>

<main class="main-container">
  <div class="pane left-pane">
    <!-- Tabela -->
    <app-table
      [mostrarConcluidos]="mostrarConcluidos"
      (horarioSelecionado)="mostrarDetalhes($event)"
    ></app-table>
  </div>

  <div class="resizer"></div>

  <div class="pane right-pane">
    <!-- Detalhes -->
    <app-details
      [horario]="horarioAtual"
      [mostrarConcluidos]="mostrarConcluidos"
      (horarioEditado)="atualizarTabela()"
      (horarioConcluido)="limparDetalhes()"
    ></app-details>
  </div>
</main>
