/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #5b2828;
}

body {
  padding: 18px;
  background-color: #FBAEAE;
  margin: 0;
}